* {
  margin: 0;
  padding: 0;
  color: #3b3054;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 5% 10%;
}

header {
  margin-bottom: 48px;
}

.main_container {
  display: flex;
  justify-content: center;
}

.container_bloco {
  width: 900px;
  height: 120px;
  background-color: #3b3054;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;
}

.container_bloco input {
  width: 650px;
  height: 44px;
  border-radius: 8px;
  background-color: white;
  color: #a1a1a1;
  cursor: pointer;
  margin-right: 12px;
  padding: 0 12px;
  font-size: 18px;
  font-weight: 500;
}

.container_bloco button {
  width: 120px;
  height: 44px;
  border-radius: 8px;
  background-color: #2acfcf;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.container_bloco button:hover {
  background-color: #11afaf;
}

.main_list {
  display: flex;
  justify-content: center;
}

.list_bloco {
  padding-bottom: auto;
  padding-top: auto;
  width: 900px;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 4px;
  display: flex;
}

.list_bloco ul {
  align-self: center;
  padding-left: 16px;
}

.footer_projeto {
  text-align: center;
  margin: 16px 0;
}
