* {
  margin: 0;
  padding: 0;
  color: #3b3054;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 5% 10% 1% 10%;
}

header {
  margin-bottom: 48px;
}

.main_text h2 {
  padding-left: 18vh;
  margin-bottom: 8px;
}

.main_container {
  display: flex;
  justify-content: center;
}

.container_bloco {
  width: 900px;
  height: 120px;
  background-color: #3b3054;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;
}

.container_bloco input {
  width: 650px;
  height: 44px;
  border-radius: 8px;
  background-color: white;
  color: #a1a1a1;
  cursor: pointer;
  margin-right: 12px;
  padding: 0 12px;
  font-size: 18px;
  font-weight: 500;
}

.container_bloco button {
  width: 120px;
  height: 44px;
  border-radius: 8px;
  background-color: #ff0080;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.container_bloco button:hover {
  background-color: #ef00af;
}

.main_list {
  display: flex;
  justify-content: center;
}

.list_bloco {
  padding-bottom: auto;
  padding-top: auto;
  width: 900px;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 4px;
  display: flex;
}

.list_bloco_p {
  align-self: center;
  padding-left: 16px;
}

.list_bloco ul {
  align-self: center;
  padding-left: 16px;
}

.footer_projeto {
  text-align: center;
  margin-top: 44vh;
}

@media (max-width: 768px) {
  body {
    margin: 5% 0% 0% 5%;
  }

  .main_text h2 {
    padding-left: 0%;
  }

  .main_container {
    display: block;
    width: 48vw;
  }

  .container_bloco {
    width: 90vw;
    justify-content: center;
    text-align: center;
  }

  .container_bloco input {
    width: 75vw;
    border-radius: 12px;
    padding: 0 6px;
    margin: 0 0 8px 0;
  }

  .container_bloco button {
    width: 79vw;
  }

  .main_list {
    display: block;
    width: 48vw;
  }

  .list_bloco {
    width: 90vw;
  }

  .footer_projeto {
    width: 90vw;
    margin: 40vh 0 4vh 0;
  }
}
