{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'url/images/icon-emoji.png' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'url/css/style.css' %}">
    <title>URL 🤏</title>
    <meta name="description" content="Myencurt: encurtador de URL. Um app onde são passadas URLs originais (geralmente longas), e é gerado uma versão super reduzida. Desta forma quando acessada a versão reduzida, será redirecionada para a URL original.">
  </head>
  <body>
    <header>
      <h1>URL 🤏</h1>
    </header>
    <main>
      <div class="main_text">
        <h2>Insira um link:</h2>
      </div>
      <div class="main_container">
        <div class="container_bloco">
          <div>
          <form method="post" action="">{% csrf_token %} 
            <input type="url" placeholder="https://exemplo.com" name="url_input">
            <button type="submit">Encurtar!</button>
          </form>
          </div>
        </div>
      </div>
      <div class="main_list"> {% if request.method == 'POST' %}
      <div class="list_bloco">
        {% if url_curta == none %} <p class="list_bloco_p">Insira uma URL válida :)</p> 
        {% elif url_curta != '' %}
        <ul> 
            <a target="_blank" href="{{ url_curta }}">https://myencurt.herokuapp.com/{{ url_curta }}</a>
          </ul> 
        {% endif %}
      </div>
      {% endif %}
    </div>
    </main>
    <footer>
      <div class="footer_projeto">
      <p>Projeto por <a target="_blank" href="https://github.com/felipesoaresfl">Felipe Soares</a>, <a target="_blank" href="https://github.com/fernandalizs">Fernanda Liz</a> e <a target="_blank" href="https://github.com/tabataf"> Tábata de Faria</p></a>
    </div>
    <footer>
  </body>
</html>
